$encre:rgb(0, 7, 70);
$bgcolor:beige;
$gc7:.7rem;

body {
  font-family: arial;
  background-color: $bgcolor;
  color: darken($bgcolor, 0%);
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(161, 161, 161);
  border-radius: $gc7;
  padding: 30px 0;
}

h1,
button {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: $gc7;
  background-color: rgb(110, 106, 85);
}

.icons{
  width: 95%;
  margin-top: 1rem; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  width: 70%;
  text-align: justify;
  overflow: hidden;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: $gc7;
  background-color: #333;
}

button {
  margin: -.5rem auto 2rem;
  color: yellow;
  width: 94%;
  border-color: rgb(79, 78, 78);
  font-size: 1.2rem;
}

@media screen and (max-width:700px) {
  h1 {
    width: 77%;
    margin-bottom: $gc7;
  }

  button {
    margin-top: $gc7;
    width: 77%;
  }
}